@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    /* Color Theme Swatches in Hex */
    --Colorful-backdrop-1-hex-color: #2D3E40; 
    --Colorful-backdrop-2-hex-color: #387373; 
    --Colorful-backdrop-3-hex-color: #93BFB7; 
    --Colorful-backdrop-4-hex-color: #97A6A0; 
    --Colorful-backdrop-5-hex-color: #E4F2E7; 
}
*{
    font-family: 'Lexend Deca', sans-serif;
}

.sidebar{
    background-color: #2D3E40;
    width: 15vw;
    border-right: solid 1px black;
}

.sidebar > div > a, p{
    text-decoration: none;
    color: #E4F2E7;
    align-items: center;
    padding-top: 20px;
}

.sidebar > * {
    align-items: center;
    margin-top: 20px;   
}

.logo_sidebar{   
    position: sticky;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--Colorful-backdrop-4-hex-color);

}

.bi{
    margin-right: 5px;
}
.conteudo{
    width: 85vw;
    
}
.home{
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}
.background{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    background-color: var(--Colorful-backdrop-4-hex-color);
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    
}
.info_home{
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 60px;

}
.name{
    color: var(--Colorful-backdrop-1-hex-color);
}

.social > a{
    color: var(--Colorful-backdrop-1-hex-color);
}

.hello, .skills {
    color: var(--Colorful-backdrop-2-hex-color);
}
.about{
    background: linear-gradient(var(--Colorful-backdrop-1-hex-color),var(--Colorful-backdrop-2-hex-color));
}

.footer p{
    align-items: center;
}